<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="train_blog_post_listing_data_source" xsi:type="string">Train\Blog\Model\ResourceModel\Post\Grid\Collection</item>
                <item name="train_blog_category_listing_data_source" xsi:type="string">Train\Blog\Model\ResourceModel\Category\Grid\Collection</item>
                <item name="train_blog_product_listing_data_source" xsi:type="string">Train\Blog\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Train\Blog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">train_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">Train\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <virtualType name="Train\Blog\Model\ResourceModel\Category\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">train_blog_category</argument>
            <argument name="resourceModel" xsi:type="string">Train\Blog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Train\Blog\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">train_blog_product</argument>
            <argument name="resourceModel" xsi:type="string">Train\Blog\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>
</config>